
<!-- <app-menu></app-menu> -->
<br>
<div class="jumbotron">
    <h1 class="display-4">About Us!</h1>
    <p class="lead">Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content.</p>
    <hr class="my-4">
    <p> It's that compelling content that's crucial to making inbound marketing work for your business.</p>
    <p>So how do you balance your remarkable content creation with your web design needs? It all starts with the "About Us" page.</p>
  </div>
