<nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <button   type="button" (click)="onClicksidebar()" class="btn btn-warning btn-lg"><i class="fa fa-bars"></i> Brain Pickings </button>&nbsp;&nbsp;&nbsp;
              <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" #searchInput placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="onSearchClick(searchInput.value)">Search</button>
              </form>
</nav>
<!-- <div *ngIf="display"> -->
  <app-sidebar></app-sidebar>
<!-- </div> -->
