<!-- <app-menu (search)="onMenuClickForSearch($event)"></app-menu> -->
<br>
<br>
<!-- <br>
<br>
<br>
<br> -->
<div class="container-fluid bg-light">
  <div  class="text1">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <label>ARTICLE DISPLAY</label>
    <label class="pull-right"><button class="btn btn-warning btn-sm" (click)="openAddPopup(Addpopup)">Add Article</button></label>
  </div>
  <br>
<div class="panel panel-default">
    <div class="panel-heading"><B></B></div>
    <table class="table jumbotron">
      <thead>
          <th>Article Id </th>
          <th>Article Name</th>
          <!-- <th>Content</th> -->
          <!-- <th>Preview content</th> -->
          <th>CategoryId</th>
          <th>Category Name</th>
          <!-- <th>Created By</th> -->
          <th>Created By Name</th>
          <th>Created Date</th>
          <!-- <th>Modified By</th> -->
          <!-- <th>Modified By Name</th>
          <th>Modified Date</th> -->
          <th>Action</th>
          <th>Action</th>
      </thead>
      <tbody *ngFor="let item of all_articles;let i=index">
          <tr class="bg-white">
              <td>{{item.articleId |reverseStr}}</td>
              <td>{{item.articleName |caps}}</td>
              <!-- <td [innerHTML]="item.content"></td> -->
              <!-- <td [innerHTML]="item.previewContent"></td> -->
              <td>{{item.categoryId}}</td>
              <td>{{item.categoryName}}</td>
              <!-- <td>{{item.createdBy}}</td> -->
              <td>{{item.createdByName}}</td>
              <td>{{item.createdDate}}</td>
              <!-- <td>{{item.modifiedBy}}</td> -->
              <!-- <td>{{item.modifiedByName}}</td>
              <td>{{item.modifiedDate}}</td> -->
              <td><button class="btn btn-primary btn-sm" (click)="openEditPopup(Editpopup,i)"  ><i class="fa fa-pencil"></i>Edit</button></td>
              <td><button class="btn btn-secondary btn-sm" (click)="onReadMore(Readmore,item)" >Read More</button></td>
          </tr>
        </tbody>
    </table>
  </div>
  <ngb-pagination *ngIf="ngvariable" [collectionSize]="totalItem"  [maxSize]="5" [rotate]="true" [(page)]="Page"   (pageChange)="showPage([Page])"  [boundaryLinks]="true"></ngb-pagination>
</div>
<ng-template #Addpopup let-modal>
  <br>
<form [formGroup]="kb" class="container"  (ngSubmit)="ArticleSave(kb.value)">
    <h4>Add Article</h4>
  <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-6">
            <label><b>ARTICLE_NAME</b></label>
            <input formControlName="articleName" type="text" class="form-control">
            <label class="alert alert-danger" *ngIf="kb.get('articleName').hasError('required') && !kb.get('articleName').pristine" >articleName is required.</label>
          </div>
        </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-6">
              <label><b>Category name</b></label>
              <select formControlName="categoryId" class="form-control">
                <option>Choose your category</option>
                <option *ngFor="let item of cat" [value]="item.categoryId">{{item.categoryName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!-- <div class="container">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-6">
                    <label><b>CATEGORY ID</b></label>
                    <input formControlName="categoryId" type="text" class="form-control">
                    <label class="alert alert-danger" *ngIf="kb.get('categoryId').hasError('required') && !kb.get('categoryId').pristine" >categoryId is required.</label>
                    <label class="alert alert-danger" *ngIf="kb.get('categoryId').hasError('pattern') && !kb.get('categoryId').pristine" >Only numbers allowed </label>
                  </div>
                </div>
              </div> -->
        <div class="container">
                  <div class="row">
                      <div class="col-xs-6 col-sm-4 col-md-6">
                        <label><b>CONTENT</b></label>
                        <input formControlName="content" [innerHTML] type="text"  class="form-control">
                        <label class="alert alert-danger" *ngIf="kb.get('content').hasError('required') && !kb.get('content').pristine" >content is required.</label>
                      </div>
                    </div>
                  </div>
            <br>
<div class="container">
  <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-6">
          <button class="btn btn-primary"  type="submit" [disabled]="!kb.valid">Submit</button>&nbsp;&nbsp;
          <button class="btn btn-warning" type="button" (click)="modal.close('Save click')">close</button>
        </div>
  </div>
</div>
<br>
<br>
  </form>
</ng-template>



<!-- edit popup -->

<ng-template #Editpopup let-modal>
  <br>
  <form [formGroup]="kb" class="container" (ngSubmit)="UpdateArticles(kb.value)">
      <h4>Edit Article</h4>
    <div class="container">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-6">
              <label><b>ARTICLE_NAME</b></label>
              <input formControlName="articleName" type="text" class="form-control">
              <!-- <label class="alert alert-danger" *ngIf="kb.get('articleName').hasError('required') && !kb.get('articleName').pristine" >articleName is required.</label> -->

            </div>
          </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-6 col-sm-4 col-md-6">
                <label><b>Category name</b></label>
                <select formControlName="categoryId" class="form-control">
                  <option>Choose your category</option>
                  <option *ngFor="let item of cat" [value]="item.categoryId">{{item.categoryName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
              <!-- <div class="container">
                <div class="row">
                  <div class="col-xs-6 col-sm-4 col-md-6">
                      <label><b>CATEGORY</b></label>
                      <input formControlName="categoryId" type="text" class="form-control">
                       <label class="alert alert-danger" *ngIf="kb.get('categoryId').hasError('required') && !kb.get('categoryId').pristine" >categoryId is required.</label> -->

                    <!-- </div>
                  </div>
                </div>  -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-6">
                          <label><b>CONTENT</b></label>
                          <input formControlName="content" [innerHTML] type="text" class="form-control">
                          <!-- <label class="alert alert-danger" *ngIf="kb.get('content').hasError('required') && !kb.get('content').pristine" >content is required.</label> -->
                        </div>
                      </div>
                    </div>
              <br>
  <div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-6">
            <button class="btn btn-primary" type="submit">Submit</button>&nbsp;&nbsp;
            <button class="btn btn-warning" type="button" (click)="modal.close('Save click')">close</button>
          </div>
    </div>
  </div>
  <br>
  <br>
    </form>
  </ng-template>
  <ng-template #Readmore let-modal>
      <br>
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Read More!</h1>
          <p class=""><i class="fa fa fa-address-card-o"></i>&nbsp;&nbsp;<b>{{readarr?.articleName}}</b></p>
          <hr class="my-4">
          <p><i class="fa fa fa-clock-o"></i>&nbsp;&nbsp; {{readarr?.createdDate}}</p>

          <p [innerHTML]=readarr?.content></p>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-xs-6 col-sm-4 col-md-6">
                  <button class="btn btn-warning" type="button" (click)="modal.close('Save click')">close</button>
                </div>
          </div>
        </div>
      </div>
      <br>
</ng-template>
