
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<h3>Tree Table</h3>
<p-treeTable [value]="files"  [columns]="selectedColumns" dataKey="name" [(contextMenuSelection)]="selectedNode" [contextMenu]="cm">
  <ng-template pTemplate="caption">
    <div style="text-align:left">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
    </div>
</ng-template>
  <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttContextMenuRow]="rowNode">
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
               {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-treeTable>
<!-- <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button> -->
<p-contextMenu #cm [model]="items"></p-contextMenu>

<h3>Dynamic columns</h3>
  <p-treeTable [value]="files2" [columns]="cols" [(contextMenuSelection)]="selectedNode" [contextMenu]="cm">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr  [ttContextMenuRow]="rowNode">
              <td *ngFor="let col of columns; let i = index">
                  <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                  <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
                  {{rowData[col.field]}}
              </td>
          </tr>
      </ng-template>
  </p-treeTable>




  <p-dialog header="Add Articles" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <form [formGroup]="addform" (ngSubmit)="save(addform.value)">

    <div class="ui-g ui-fluid" >
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label >Name :</label>
            </div>
            <div class="ui-g-8">
                <input pInputText formControlName="name"/>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label >Size :</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="size"/>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label >Type :</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="type"/>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="submit" pButton  label="Submit"></button>&nbsp;&nbsp;
          <button type="button" pButton  (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
        </div>
    </p-footer>
    <br>
  </form>
</p-dialog>
