
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-treeTable [value]="files"  [columns]="selectedColumns" dataKey="name" [(contextMenuSelection)]="selectedNode" [contextMenu]="cm">
  <ng-template pTemplate="caption">
    <div style="text-align:left">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
    </div>
</ng-template>
  <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttContextMenuRow]="rowNode">
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
               {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-treeTable>


<p-contextMenu #cm [model]="items"></p-contextMenu>

<h3>Dynamic columns</h3>
  <p-treeTable [value]="files2" [columns]="cols" [(contextMenuSelection)]="selectedNode" [contextMenu]="cm">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr  [ttContextMenuRow]="rowNode">
              <td *ngFor="let col of columns; let i = index">
                  <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                  <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
                  {{rowData[col.field]}}
              </td>
          </tr>
      </ng-template>
  </p-treeTable>
